@import 'variables'
*, *::before, *::after 
    box-sizing: border-box
    transition: 0.3s
body
    font-family: 'HelveticaNeueCyr', Arial, sans-serif
    line-height: normal
    font-weight: 400
    color: $black
html, body
    margin: 0
    padding: 0
h1
    font-size: 48px
    text-align: left
    text-transform: uppercase
h2
    font-size: 30px
    margin: 85px 0
    text-transform: uppercase
    text-align: center
    font-weight: bold
h3
    font-size: 20px

a
    text-decoration: none
    color: $gold
    outline: none
p
    margin: 0
img
    width: 100%
ul,ol
    padding: 0
    list-style: none
input
    width: 100%
    height: 60px
    border: 1px solid $gold
    color: $gold
    font-weight: 100
    font-size: 14px
    padding: 20px 50px
    margin: 0
    background: none
::placeholder
    color: inherit
.input-wr:first-child input
    border-radius: 5px 5px 0 0
.input-wr:last-child input
    border-radius:  0 0 5px 5px
.form
    border: 1px solid $gold
    border-radius: 10px
    background: rgba(0, 0, 0, 0.349)
    padding: 30px 45px
    position: relative
    z-index: 0
    &__title
        font-size: 20px
        color: $white
        text-align: center
        span
            text-transform: uppercase
    &__politics
        margin-top: 15px
.politics        
    font-size: 10px
    color: $white
    text-align: center
    a
        text-decoration: underline
        color: $gold
.inputs-box
    margin: 30px 0

[type=button]:not(:disabled), 
[type=reset]:not(:disabled), 
[type=submit]:not(:disabled), 
button:not(:disabled),
.btn:not(:disabled)
    display: block
    background: linear-gradient( -90deg, rgb(215,174,94),  rgb(215,174,94), rgb(171,131,54) )
    background-size: 200%
    box-shadow: $btn-shadow
    border: none
    border-radius: 8px/35px
    max-width: 362px
    width: 100%
    height: 68px
    font-size: 14px
    font-weight: 100
    color: $white
    text-transform: uppercase
    text-align: center
    text-decoration: none
    padding: 15px 5px
    cursor: pointer
    outline: none
    margin-left: auto
    margin-right: auto
    position: relative
    display: flex
    justify-content: center
    align-items: center
    &::before
        content: ""
        left: 50%
        transform: translateX(-50%)
        width: 50%
        height: 10px
        box-shadow: 0px 8px 31.16px 6.84px rgba(215, 174, 94, 0.44)
        position: absolute
        z-index: -1
        bottom: 0
    &:hover
        background-position: 35%
        &::before
            bottom: 30px

.btn_empty:not(:disabled)
    background: none
    box-shadow: none
    border: 1px solid $gold
    max-width: unset
    width: 196px
    height: 40px
    padding: 0 5px
    color: $gold
    text-transform: initial
    &::before
        content: none
    &:hover
        opacity: 0.6

.container
    max-width: 1170px
    padding-left: 15px
    padding-right: 15px
    margin: 0 auto  

.title_white
    color: $white
.title_black
    color: $black
.gold
    color: $gold
.flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap 

.iframe-wr
    overflow: hidden
    padding-top: 56.25%
    position: relative
    iframe
        border: 0
        position: absolute
        height: 100%
        width: 100%
        left: 0
        top: 0
.show__more
    background: $pale
    padding: 80px 0 0
    box-shadow: 0 -20px 20px 1px $pale
    position: relative
    z-index: 2

table
    border: none
    color: $black
    font-size: 20px
    border-collapse: collapse
    width: 100%
    position: relative
    z-index: 1
    a
        line-height: 36px
th
    color: $gold
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    padding: 15px 5px 15px 25px
    text-align: left

td
    padding: 15px 25px
    &:nth-child(2),
    &:nth-child(4)
        font-weight: bold
        
tbody tr
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%)
    border-radius: 5px
    &:nth-child(even)
        background-color: $tr
    &:nth-child(odd)
        background-color: $white

tbody td
    &:first-child
        border-radius: 5px 0 0 5px
    &:first-child
        border-radius:  0 5px 5px 0

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.animated-height
    margin-bottom: 30px!important

.swiper-button-prev, 
.swiper-button-next 
    color: $gold

.modal
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(25,25,25,0.89)
    visibility: hidden
    position: fixed
    opacity: 0
    z-index: -10
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    &_opened
        visibility: visible
        opacity: 1
        z-index: 100
    &__inner
        position: relative
        max-width: 650px
        width: 100%
        padding: 0 15px
    &__iframe-wr
        background: url(../pics/icons/loading.svg) center/ 64px no-repeat
        &_bg-none
            background: none
    & &__close
        position: absolute
        right: 0
        top: -45px
        height: 45px
        width: 45px
        cursor: pointer
        background: url(../pics/icons/close.png) center no-repeat
        background-size: 16px
        background-position: center
        border: none
        box-sizing: border-box
        padding: 0
        opacity: .6
        box-shadow: none
        &::before
            content: none
        &:hover
            opacity: 1
            background-position: center