@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }

  .leaders {
    width: 480px;
    left: calc(100% - 25px);
  }

  h1 {
    font-size: 40px;
  }
  h1 .bigger {
    font-size: 60px;
  }

  .em__right {
    position: absolute;
    right: -40px;
  }

  .count-card__img {
    height: 220px;
  }

  .team-wr {
    justify-content: center;
  }
  .team__item {
    width: calc(100%/3 - 30px);
    min-width: 270px;
  }

  .cert_swiper .swiper-slide {
    width: calc(100%/3 - 30px);
  }

  .advice br {
    display: none;
  }

  .get .container::before {
    transform: scale(0.8);
  }

  .deal__items {
    justify-content: center;
  }
  .deal__item:nth-child(2) {
    margin-right: 0;
  }
  .deal__item:nth-child(3) {
    display: none;
  }

  table {
    font-size: 16px;
  }

  td, th {
    padding: 15px;
  }

  th {
    padding-right: 5px;
  }

  .table-box::before {
    width: 250px;
    height: 250px;
    top: -55px;
  }

  .service__item {
    margin: 20px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }

  .flex {
    justify-content: center;
  }

  .menu > .menu-item {
    text-align: center;
  }
  .menu > .menu-item a, .menu > .menu-item span {
    padding: 20px 10px;
  }

  .leaders {
    display: none;
  }

  .intro__left {
    margin-left: auto;
    margin-right: auto;
  }

  h1, .site-descr {
    text-align: center;
  }

  .how {
    justify-content: center;
  }
  .how__item {
    width: calc(100% / 3);
  }
  .how__item:nth-child(3)::before {
    display: none;
  }
  .how__item:nth-child(4), .how__item:nth-child(5) {
    width: 50%;
  }

  .count__item {
    width: calc(100% / 2 - 30px);
  }

  .problem {
    padding-bottom: 60px;
  }
  .problem-circle {
    width: 100%;
    height: 690px;
    margin-top: -175px;
  }
  .problem-men {
    max-width: 565px;
    padding: 75px 0 0;
  }

  .video__item {
    width: 100%;
    max-width: 485px;
  }

  .em {
    display: none;
  }
  .em__left, .em__title {
    text-align: center;
  }
  .em .download {
    margin-left: auto;
    margin-right: auto;
  }

  .review__item {
    width: 50%;
  }

  .get .container::before {
    display: none;
  }

  .tabs_block {
    width: 570px;
    height: 570px;
  }

  .tab__content {
    width: 295px;
    height: unset;
    text-align: center;
  }

  .advice-inner {
    font-size: 19px;
  }

  .deal__items {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }
  .deal__item {
    max-width: 485px;
  }
  .deal__item:nth-child(2) {
    margin-left: 0;
  }
  .deal__content {
    width: 100%;
    transform: translate3d(0, 25px, 0);
  }

  .table-wr {
    height: 350px;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  th, td {
    width: 20%;
    text-align: center;
  }

  thead th:last-child {
    display: none;
  }

  tbody td:last-child {
    width: auto;
  }

  .table-box::before {
    display: none;
  }

  th {
    font-size: 11.5px;
  }

  .service {
    padding-bottom: 130px;
  }
  .service__list {
    align-items: stretch;
    margin-top: 170px;
  }
  .service__item {
    margin: 15px !important;
  }
  .service .enough {
    font-size: 42px;
    margin: 50px 0;
  }
  .service__form {
    max-width: 490px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  h2 {
    font-size: 27px;
    margin: 45px 0;
  }

  .header {
    padding: 15px 0;
    background: rgba(14, 14, 14, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    height: 80px;
  }

  .menu-burger {
    display: block !important;
  }

  .call-box p, .call-box button {
    display: none;
  }

  .nav {
    height: 100%;
    background: rgba(14, 14, 14, 0.9);
    left: -100%;
    top: 80px;
    overflow: auto;
  }
  .nav_expanded {
    left: 0;
  }

  .menu {
    display: block;
    padding: 30px 15px;
  }
  .menu-item {
    font-size: 16px;
  }
  .menu-item span {
    display: inline-block;
  }
  .menu-item span::before {
    left: 100%;
    bottom: calc(50% - 6px);
  }
  .menu .children {
    display: none;
    opacity: 1;
    visibility: visible;
    position: relative;
    width: unset;
  }
  .menu .children .menu-item {
    font-size: 15px;
    text-align: center;
  }
  .menu-item_clicked .children {
    display: block;
  }

  .intro {
    padding-top: 140px;
    background-position: left;
  }

  .how__item {
    width: 50%;
  }
  .how__item::before {
    display: none;
  }
  .how__item:last-child {
    width: 100%;
  }
  .how__item:nth-child(1)::before, .how__item:nth-child(3)::before {
    display: block;
  }

  .count__item {
    width: 100%;
  }

  .problem-circle {
    height: unset;
    margin-top: -125px;
  }
  .problem-men {
    max-width: 400px;
    padding-top: 75px;
  }
  .problem__item {
    font-size: 15px;
  }
  .problem__item span {
    font-size: 55px;
  }
  .problem__item p {
    margin-top: -25px;
  }

  .test {
    padding: 50px 0;
    min-height: unset;
  }
  .test h2 {
    margin-bottom: 50px;
  }

  .team__item {
    width: 100%;
  }
  .team__img {
    height: 270px;
  }

  .cert {
    margin: 50px 0;
  }

  .cert_swiper .swiper-slide {
    width: calc(100% - 30px);
  }

  .get {
    display: none;
  }

  .turnkey__col {
    width: 100%;
  }

  .deal-box {
    padding-top: 60px;
  }
  .deal__arrow {
    top: 30px;
  }

  th, td {
    width: 25%;
    padding: 10px 5px;
  }

  th:nth-child(5) {
    display: none;
  }

  td:nth-child(5), td:nth-child(6) {
    width: 100%;
  }

  .table-wr {
    height: 870px;
  }

  .deal,
.case {
    padding-bottom: 50px;
  }

  .service__list {
    margin-top: 0;
  }
  .service .enough {
    font-size: 30px;
  }

  .form button {
    max-width: unset !important;
  }
}
@media (max-width: 575.98px) {
  .problem {
    display: none;
  }

  h2, h1 {
    font-size: 23px;
  }

  h2 br {
    display: none;
  }

  h1 .bigger {
    font-size: 34px;
  }

  .logo-wr {
    width: 115px;
  }

  .call-box {
    order: 4;
    width: 100%;
    text-align: center;
  }

  .header {
    height: unset;
  }

  .nav {
    top: 93px;
  }

  .intro {
    padding: 140px 0 80px;
  }
  .intro__left {
    max-width: 100%;
  }

  .form {
    padding: 20px;
  }

  .how__item {
    width: 100% !important;
    border-bottom: 1px solid #d7ae5e;
    border-radius: 0;
  }
  .how__item::before {
    display: none !important;
  }
  .how__item:first-child {
    border-radius: 10px 10px 0 0;
  }
  .how__item:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: none;
  }

  .team__img {
    height: unset;
  }

  .review {
    padding-bottom: 50px;
  }
  .review__item {
    width: 100%;
  }

  .show__more {
    padding-top: 50px;
  }

  table {
    font-size: 12px;
  }

  .team-wr {
    margin-bottom: 0;
  }

  .video__item {
    max-width: 350px;
  }
  .video__item .thumb {
    height: 230px;
  }

  .separator {
    display: none;
  }

  .advice-inner {
    padding: 20px 10px;
    font-size: 15px;
  }

  .cert {
    padding: 0 40px;
  }

  .turnkey__decr br {
    display: none;
  }

  .deal-box {
    padding: 60px 0 0;
  }
  .deal__ques {
    padding-top: 15px;
  }

  table td, table th {
    white-space: initial;
    word-break: break-word;
  }
  table th {
    font-size: 9px;
  }

  .service__form .form__title {
    font-size: 18px;
  }
}/*# sourceMappingURL=media.css.map */